/* ALGEMENE STYLING */

html {
    font-family: 'helvetica neue', 'helvetica', 'arial', sans-serif;
    width: 100%;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #57c4ff;
}

/* HEADER STYLING */

header {
    width: 100%;
}

header img {
    width: 30%; 
    display: block;
    margin: 0 auto;
}

/* FORM STYLING */

form {
    text-align: center;
}

select:hover {
  cursor: pointer;
}

h2 {
    font-family: 'helvetica', cursive;
}

h1 {
    font-size: 5rem;
    text-align: center;
    color: black;
}

header p {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

/* SECTION STYLING */

section article {
    width: 33%;
    float: left;
}

section p {
    margin: 5px 0;
}

section ul {
    margin-top: 0;
}

h2 {
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 10px;
}

/* DROPDOWN MENU STYLING */

.names {
/*    display: none;*/
}

/* FOOTER STYLING */
footer {
    text-align: center;
    background-color: lightcoral;
    font-weight: bold;
    font-size: 0.8em;
    padding: 30px;
    color: white;
    margin-top: 100px;
}
