/* || general styles */

html {
    font-family: 'helvetica neue', 'helvetica', 'arial', sans-serif;
}

body {
    width: 800px;
    margin: 0 auto;
    background-color: lightgoldenrodyellow;
}

h1,
h2 {
    font-family: 'Libre Barcode 128 Text', cursive;
}

/* HEADER STYLING */

h1 {
    font-size: 8em;
    text-align: center;
    text-decoration: underline;
    color: red;
}

header p {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

/* SECTION STYLING */

section article {
    width: 33%;
    float: left;
}

section p {
    margin: 5px 0;
}

section ul {
    margin-top: 0;
}

h2 {
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 10px;
}

.names {
  display: none;
}

/* FOOTER STYLING */
footer {
    justify-content: center;
    text-align: center;
    background-color: lightcoral;
    font-weight: bold;
    font-size: 0.8em;
    padding: 30px;
    color: white;
    margin-top: 100px;
}
